<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="container">
  <h2>Install Slack patron</h2>

  <h3>1. Clone Slack patron</h3>
  <pre>$ git clone https://github.com/tyage/slack-patron
$ cd slack-patron</pre>

  <h3>2. Configure</h3>
  <p>Generate <code>config.yml</code></p>
  <pre>$ ruby ./bin/init.rb --token=<%= accessToken %></pre>

  <h3>3. Start with docker</h3>
  <pre>$ docker-compose up -d
$ open http://localhost:9292</pre>

  <h3>4. Advance</h3>
  <p>See <a href="https://github.com/tyage/slack-patron">Github</a> to get more information!</p>

</div>

</body>
</html>
