<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="flex-container">
  <div>
    <p>Sorry, something wrong happens.</p>
    <p><a href="/">retry?</a></p>
  </div>
</div>

</body>
</html>
